# automounting usb drives
# @source: https://www.axllent.org/docs/view/auto-mounting-usb-storage/


# abort if not a block device / memory stick
KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"

# Import FS infos
IMPORT{program}="/sbin/blkid -o udev -p %N"

# Get a label if present, otherwise specify one
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{dir_name}="usbhd-%k"

# Global mount options
ACTION=="add", ENV{mount_options}="relatime"

# Filesystem-specific mount options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"

# Mount the device
ACTION=="add", RUN+="/mnt/write_lastmount.sh", RUN+="/bin/mkdir -p /mnt/usb/%E{dir_name}", RUN+="/bin/mount -o ro -o $env{mount_options} /dev/%k /mnt/usb/%E{dir_name}"

# Clean up after removal
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /mnt/usb/%E{dir_name}", RUN+="/bin/rmdir /mnt/usb/%E{dir_name}"

# exit  / abort
LABEL="media_by_label_auto_mount_end"


